/* Feedback */
.Feedback .main_wrapper {
    margin-left: auto;
    margin-right: auto;
}
.Feedback .main {
/* background-color: var(--system-red); */
margin-top: 10rem;
margin-left: 10vw;
margin-right: 10vw;
}
.Feedback .comment {
margin-bottom: 4rem;
}
.Feedback .alert {
color: var(--system-red);
}
.Feedback .input_box_wrapper {
margin-left: 2vw;
margin-right: 2vw;
margin-bottom: 6rem;

display: flex;
flex-direction: column;
justify-content: center;
}
.Feedback .input_box_one, .input_box_four {
padding: 0.5rem;
font-family: 'Nanum Myeongjo', serif;
font-size: 20px;
margin-bottom: 2rem;

box-sizing: border-box;
width: 100%;
min-height: 50px;
border-radius: 5px;

white-space: nowrap;
box-shadow: 3px 3px 2px var(--shadow-color);
}
.Feedback .input_box_two {
padding: 0.75rem;
font-family: 'Nanum Myeongjo', serif;
font-size: 20px;
margin-bottom: 2rem;

box-sizing: border-box;
width: 100%;
min-height: 200px;
border-radius: 10px;

white-space: wrap;
box-shadow: 4px 4px 5px var(--shadow-color);
}
.Feedback .input_three {
margin-bottom: 2rem;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.Feedback .plus_button_wrapper {
width: 100px;
height: 100px;
border: 2px dotted var(--line-color);
border-radius: 10px;
cursor: pointer;

position: relative;
}
.Feedback .plus_button {
margin: 10px;
width: 80%;
height: 80%;

object-fit: contain;
}
.Feedback .myButton_wrapper {
margin-top: 2rem;
display: flex;
justify-content: center;
align-items: center;
}
.Feedback #file_input {
display: none;
}