.FinDiary .main_wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 7.6rem;
    /* transition: all 0.5s ease-in-out; */
}

.FinDiary .date_wrapper, .FinDiary .who_wrapper, .FinDiary .weather_wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}
.FinDiary .icon {
    width: 32px;
    height: auto;
}
.FinDiary .weather_icons_wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.FinDiary .descript_wrapper {
    margin-right: 0.5rem;
}
.FinDiary .weather_icons_wrapper img{
    width: 28px;
    height: auto;
    object-fit: cover;
}
.FinDiary .input_title_wrapper {
    padding: 1rem;
}
.FinDiary .info_short_ver {
    font-family: 'Nanum Myeongjo', serif;
    border-radius: 5px;
    background-color: var(--bg-color);
    color: var(--text-color);
    border: none;
    transition: 1s;
}
.FinDiary .MyHeader .red {
    background-color: var(--system-red);
}
.dark ::-webkit-calendar-picker-indicator {
    filter: invert(1);
}
.light ::-webkit-calendar-picker-indicator {
    filter: invert(0);
}
.FinDiary .content_wrapper {
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* align-items: center; */
}
.FinDiary .content_wrapper figure {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    /* max-width: calc(100vw/5); */
    object-fit: contain;
    /* background-color: var(--system-red); */
}
.FinDiary .content_wrapper img {
    max-width: 80%;
}