/* full size */
@media (max-width: 2140px) {
    .Home .text_wrapper {
        margin-left: 8vw;
        margin-right: 8vw;
    }
    .Home .title {
        width: 350px;
        font-size: 8rem;
        line-height: 1.06;
    }
    .Home .sub_title {
        font-size: 3rem;
    }
    .Home .icon_1_wrapper {
        width: 10rem;
        height: 10rem;
     }
     .Home .icon_2_wrapper {
        width: 7rem;
        height: 7rem;
     }
     .Home .icon_3_wrapper {
        width: 8rem;
        height: 8rem;
     }
     .Home .icon_4_wrapper {
        width: 8rem;
        height: 8rem;
     }
     .Home .icon_5_wrapper {
        width: 30rem;
        height: 30rem;
     }
     .Home .icon_6_wrapper {
        left: 10vw;
        top: 10rem;
        width: 30rem;
        height: 30rem;
     }
     .Home .space_background_wrapper {
        left: 40vw;
        top: 10rem;
     }
}
/* half size */
@media (max-width: 1240px) {
    .Home .text_wrapper {
        margin-left: 0;
        margin-right: 0;
    }
    .Home .title {
        width: 80%;
        font-size: 5rem;
        line-height: 1.06;
    }
    .Home .sub_title {
        font-size: 2rem;
    }
    .Home .icon_1_wrapper {
        width: 7rem;
        height: 7rem;
     }
     .Home .icon_2_wrapper {
        width: 5rem;
        height: 5rem;
     }
    .Home .icon_3_wrapper {
       width: 8rem;
       height: 8rem;
    }
    .Home .icon_4_wrapper {
       width: 6rem;
       height: 6rem;
    }
    .Home .icon_5_wrapper {
       width: 15rem;
       height: 15rem;
    }
    .Home .icon_6_wrapper {
       left: 1vw;
       top: 12rem;
       width: 15rem;
       height: 15rem;
    }
    .Home .space_background_wrapper {
        left: 20vw;
        top: 40rem;
     }
}

/* Home */
.Home .first_page_wrapper {
    /* background-color:#42abbc; */
}
/* .Home .background_scroll_up {
    position: absolute;
    top: 7.5rem;
    left: 0;
    right: 0;
    bottom: 0;
    z-index:
}
.Home .background_scroll_down {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
} */

.Home .page_front {
    /* background-color: var(--system-red); */
    /* background: rgba(255, 255, 255, 0.8); */

    width: 80vw;
    height: calc(100vh / 1.8);
    /* transform: translateZ(5vw); */
    z-index: 5;
}
.Home .main {
    margin-top: 16rem;
    margin-left: 9vw;
    margin-right: 9vw;
}
.Home .title {
    font-family: 'SUIT', sans-serif;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 4rem;
    /* transition: 1s; */
}
.Home .colored{
    background: linear-gradient(#ffc700, #42abbc);
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.Home .sub_title {
    font-family: 'SUIT', sans-serif;
    line-height: 3.5rem;
}
.Home .incons_wrapper {
    /* background-color: var(--system-blue);
    margin-top: 7.5rem; */
    z-index: 5;
}
.Home .lottie_scroll {
    width: 100%;
    height: 18rem;
 }
 .Home .incons_wrapper {
    /* position: absolute;
    left: 80vw;
    top: 7.6rem; */
    /* background: rgba(0, 0, 0, 0.8); */
    /* background-color: var(--system-blue); */
 }

 .Home .icon_1_wrapper {
    position: absolute;
    left: 45vw;
    top: 12rem;
    /* background: rgba(0, 0, 0, 0.5); */
 }
 .Home .icon_2_wrapper {
    position: absolute;
    left: 60vw;
    top: 25rem;
    /* background: rgba(0, 0, 0, 0.5); */
 }
 .Home .icon_3_wrapper {
    position: absolute;
    left: 65vw;
    top: 10rem;
    transform: rotate(0deg);

    /* background: rgba(0, 0, 0, 0.5); */
 }
 .Home .icon_4_wrapper {
    position: absolute;
    left: 75vw;
    top: 18rem;
    transform: rotate(45deg);
    /* background: rgba(0, 0, 0, 0.5); */
 }
 .Home .icon_5_wrapper {
    position: absolute;
    right: 3vw;
    top: 28rem;
 }
 .Home .icon_6_wrapper {
    position: absolute;
    
    z-index: -1;
    opacity: 0.7;
 }
 .Home .logo_img {
    width: 100%;
 }
.Home .space_background_wrapper {
    position: absolute;
    
    
    z-index: -1;

    opacity: 0.1;
    width: 50vw;
    height: 100vh;
}
.text-box {
  text-align: center;
  margin-bottom: 8rem;
  line-height: 2rem;
}
.title-box {
  letter-spacing: 6px;
  text-transform: uppercase;
  font: 1.3rem;
  text-align: center;

  margin-top: 6rem;
}
.image {
  position: relative;
  height: 100vh;
}
.content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100vh;
  width: 100%;
}
.content span.img-txt {
  background-color: #333;
  text-transform: uppercase;
  color: #fff;
  padding: 1rem;
  font-size: 1.5rem;
  letter-spacing: 10px;
}
