/* full size */
@media (max-width: 2140px) {
    .Home .text_wrapper {
        margin-left: 8vw;
        margin-right: 8vw;
    }
    .Home .title {
        width: 350px;
        font-size: 8rem;
        line-height: 1.06;
    }
    .Home .sub_title {
        font-size: 3rem;
    }
}
/* half size */
@media (max-width: 1240px) {
    .Home .text_wrapper {
        margin-left: 0;
        margin-right: 0;
    }
    .Home .title {
        width: 80%;
        font-size: 5rem;
        line-height: 1.06;
    }
    .Home .sub_title {
        font-size: 2rem;
    }
}

/* Home */
.Home .background_scroll_up {
    position: fixed;
    top: 7.5rem;
    left: 0;
    right: 0;
    bottom: 0;
}
.Home .background_scroll_down {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.Home .first_page_wrapper {
    /* background-color: var(--system-red); */
    height: calc(100vh / 1.8);
}
.Home .main {
    margin-top: 16rem;
    margin-left: 9vw;
    margin-right: 9vw;
}
.Home .title {
    font-family: 'SUIT', sans-serif;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 4rem;
    /* transition: 1s; */
}
.Home .colored{
    background: linear-gradient(#ffc700, #42abbc);
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.Home .sub_title {
    font-family: 'SUIT', sans-serif;
    line-height: 3.5rem;
}
.Home .lottie_scroll {
    width: 100%;
    height: 18rem;
 }