@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');
/* full size */
@media (max-width: 2140px) {
  .Feedback .main_wrapper {
    width: 70vw;
  }
  .EditDiary .left_side, .right_side {
    width: 20vw;
  }
  .EditDiary .edit_content {
    width: 60vw;
    padding: 1rem;
  }
  .FinDiary .left_side, .right_side {
    width: 20vw;
  }
  .FinDiary .edit_content {
    width: 60vw;
    padding: 1rem;
  }
}
/* half size */
@media (max-width: 1240px) {
  .Feedback .main_wrapper {
    width: 80vw;
  }
  .EditDiary .left_side, .right_side {
    width: 15vw;
  }
  .EditDiary .edit_content {
    width: 70vw;
    padding: 0.5rem;
  }
  .FinDiary .left_side, .right_side {
    width: 15vw;
  }
  .FinDiary .edit_content {
    width: 70vw;
    padding: 0.5rem;
  }
}
/* quat size */
@media (max-width: 640px) {
  .Feedback .main_wrapper {
    width: 90vw;
  }
  .EditDiary .left_side, .right_side {
    display: none;
  }
  .EditDiary .edit_content {
    width: 80vw;
  }
  .FinDiary .left_side, .right_side {
    display: none;
  }
  .FinDiary .edit_content {
    width: 80vw;
  }
}
/* dark, light mode */
:root, :root.light{
  --bg-color: #fff;
  --text-color: #000000;
  --line-color: #363636;
  --btn-color: #AAAAAA;
  --border-color:#363636;
  --btntxt-color:black;
  --btn-hoverColor: #ffc700;
  --header-color: #e0e0e0;
  --shadow-color: #aaaaaa;
  --toolbarBtn-color: #e0e0e0;
  --grayscale-gray1: #000000;
  --grayscale-gray2: #363636;
  --grayscale-gray3: #707070;
  --grayscale-gray4: #aaaaaa;
  --grayscale-gray5: #e0e0e0;
  --grayscale-gray6: #ffffff;
  --primary-yellow: #ffc700;
  --primary-green: #42abbc;
  --secondary-yellow: #ffed8f;
  --secondary-green: #94beb7;
  --system-red: #e95050;
  --system-blue: #6593ec;
  transition:1s;
}
:root.dark {
  --bg-color: #29292e;
  --text-color: #ffffff;
  --line-color: #e0e0e0;
  --btn-color:#363636;
  --border-color:#e0e0e0;
  --btntxt-color:white;
  --btn-hoverColor: #42abbc;
  --header-color: #3d3d42;
  --shadow-color: #707070;
  --toolbarBtn-color: #707070;
  --grayscale-gray1: #000000;
  --grayscale-gray2: #363636;
  --grayscale-gray3: #707070;
  --grayscale-gray4: #aaaaaa;
  --grayscale-gray5: #e0e0e0;
  --grayscale-gray6: #ffffff;
  --primary-yellow: #ffc700;
  --primary-green: #42abbc;
  --secondary-yellow: #ffed8f;
  --secondary-green: #537a73;
  --system-red: #b52222;
  --system-blue: #124bed;
  transition:1s;
}
/* typography */
.h1 {
  font-family: 'Nanum Myeongjo', serif;
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 3.6rem; /* **** 추가 ***** */
}
.h2 {
  font-family: 'Nanum Myeongjo', serif;
  font-weight: bold;
  font-size: 1.85rem;
  line-height: 3.2rem; /* **** 추가 ***** */
}
.h3 {
  font-family: 'Nanum Myeongjo', serif;
  font-weight: bold;
  font-size: 1.65rem;
  line-height: 3.0rem; /* **** 추가 ***** */
}
.title1 {
  font-family: 'Nanum Myeongjo', serif;
  font-weight: 700; 
  font-size: 1.3rem;
  line-height: 1.8rem;
}
.title2 {
  font-family: 'Nanum Myeongjo', serif;
  font-size: 1.15rem;
  font-weight: bold;
  line-height: 1.6rem;
}
.body1 {
  font-family: 'Nanum Myeongjo';
  font-size: 1.2rem;
  line-height: 1.8rem;
}
.body2 {
  font-family: 'Nanum Myeongjo';
  font-size: 1.1rem;
  line-height: 1.65rem;
}
.body3 {
  font-family: 'Nanum Myeongjo';
  font-size: 1.0rem;
  line-height: 1.5rem;
}
.button {
  font-family: 'Nanum Myeongjo';
  font-size: 1.1rem;
  font-weight: 700;
  line-height:2.3rem;
}
.caption {
  font-family: 'Nanum Myeongjo';
  font-size: 1.0rem;
  line-height: 1.4rem;
}
/* Line */
/* Line 컴포 css 추가 시 */
/* weight 프롭에 넣은 숫자 만큼 height 지정하기 */
.line_1 {
  height: 1px;
  background-color: var(--line-color);
}
.line_3 {
  height: 3px;
  background-color: var(--line-color);
}
.line_5 {
  height: 5px;
  background-color: var(--line-color);
}
.line_10 {
  height: 10px;
  background-color: var(--line-color);
}
/* design start */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: 1s;
}
.App{
  font-family: 'Nanum Myeongjo', serif;
  margin: 0;
}
/* MyHeader */
.MyHeader {
  position: fixed;
  width: 100%;
  top: 0;
  border-bottom: 1px solid var(--line-color);
  background-color: var(--header-color);
}
/* MyHeader Scroll Event */
.scroll_up {
  transform: translateY(0);
  transition: all 0.5s ease-in-out;
}
.scroll_down{
  transform: translateY(-100%); 
  transition: all 0.5s ease-in-out;
}
/* */
.MyHeader .MyHeader_wrapper {
  display: flex;
  justify-content: space-around;
}
.MyHeader .head_btn_left {
  height:7.5rem;
}
.logo{
  max-width:100%;
  max-height:100%;
  cursor: pointer;
}
.MyHeader .head_btn_right {
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.head_btn_right1 {
  margin-right: 1rem;
  cursor: pointer;
}
.MyHeader .head_btn_right2{
  margin-right:1rem;
}
/*  MyButton */ 
/* type: default */
.MyButton {
  cursor: pointer;
  border: none;
  border-radius: 10px;

  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  padding-left: 2rem;
  padding-right: 2rem;

  white-space: nowrap;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  text-align: center;

  background-color: var(--btn-color);
  color: var(--btntxt-color);
  border:1px solid var(--border-color);
}
/* type: long */
.long {
  padding-left: 7vw;
  padding-right: 7vw;
}
.MyButton:hover {
  background-color: var(--btn-hoverColor);
  transition: 0.5s;
}
/* MyFooter */
.MyFooter {
  padding: 1rem;
  background-color: var(--header-color);
  margin-top: 3rem;
}





/*calendar*/

.calendar.home_line {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.start {
  margin-top: 1em;
}
table {
  background-image: url('/public/assets/calendar.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 10px -10px 5px #ccc;
}

.Calendar > .calendar {
  opacity: 0.75;
}
.Calendar > .calendar {
  margin-top: 10rem;
  margin-left: 15%;
  margin-right: 15%;
}

.fc-daygrid-day-number {
  color: white;
  font-family: 'Nanum Myeongjo';
}

.fc-toolbar-title {
  font-family: 'Nanum Myeongjo';
  color: var(--btntxt-color);
}

.fc-col-header-cell-cushion {
  color: white;
  font-family: 'Nanum Myeongjo';
}
button.fc-prev-button.fc-button.fc-button-primary {
  background-color: var(--line-color);
  border-color: white;
}
button.fc-next-button.fc-button.fc-button-primary {
  background-color: var(--line-color);
  border-color: white;
}

.fc-daygrid-dot-event {
  padding: 0px;
}
tbody {
  height: 1000px;
}
.fc-daygrid-day-events:hover {
  background-image: url('/public/assets/addDiary\ .png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  cursor: pointer;
}
.background {
  background-repeat: no-repeat;
}
.fc .fc-daygrid-body-unbalanced .fc-daygrid-day-events {
  position: relative;
  height: 10rem;
}
