@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');
/* dark, light mode */
:root, :root.light{
  --bg-color: #fff;
  --text-color: #000000;
  --line-color: #363636;
  --btn-color: #AAAAAA;
  --border-color:#363636;
  --btntxt-color:black;
  --grayscale-gray1: #000000;
  --grayscale-gray2: #363636;
  --grayscale-gray3: #707070;
  --grayscale-gray4: #aaaaaa;
  --grayscale-gray5: #e0e0e0;
  --grayscale-gray6: #ffffff;
  --primary-yellow: #ffc700;
  --primary-green: #42abbc;
  --secondary-yellow: #ffed8f;
  --secondary-green: #94beb7;
  --system-red: #e95050;
  --system-blue: #6593ec;
  transition:1s;
}
:root.dark {
  --bg-color: #29292e;
  --text-color: #ffffff;
  --line-color: #e0e0e0;
  --btn-color:#363636;
  --border-color:#e0e0e0;
  --btntxt-color:white;
  --grayscale-gray1: #000000;
  --grayscale-gray2: #363636;
  --grayscale-gray3: #707070;
  --grayscale-gray4: #aaaaaa;
  --grayscale-gray5: #e0e0e0;
  --grayscale-gray6: #ffffff;
  --primary-yellow: #ffc700;
  --primary-green: #42abbc;
  --secondary-yellow: #ffed8f;
  --secondary-green: #537a73;
  --system-red: #b52222;
  --system-blue: #124bed;
  transition:1s;
}
/* typography */
.h1 {
  font-family: 'Nanum Myeongjo', serif;
  font-weight: bold;
  font-size: 2.25rem;
}
.h2 {
  font-family: 'Nanum Myeongjo', serif;
  font-weight: bold;
  font-size: 1.85rem;
}
.h3 {
  font-family: 'Nanum Myeongjo', serif;
  font-weight: bold;
  font-size: 1.65rem;
}
.title1 {
  font-family: 'Nanum Myeongjo', serif;
  font-weight: 700; /* 500은 너무 얇은 느낌, 600은 너무 굵은 느낌,,,? */
  font-size: 1.3rem;
  line-height: 1.8rem;
}
.title2 {
  font-family: 'Nanum Myeongjo', serif;
  font-size: 1.15rem;
  font-weight: bold;
  line-height: 1.6rem;
}
.body1 {
  font-family: 'Nanum Myeongjo';
  font-size: 1.2rem;
  line-height: 1.8rem;
}
.body2 {
  font-family: 'Nanum Myeongjo';
  font-size: 1.1rem;
  line-height: 1.65rem;
}
.body3 {
  font-family: 'Nanum Myeongjo';
  font-size: 1.0rem;
  line-height: 1.5rem;
}
.button {
  font-family: 'Nanum Myeongjo';
  font-size: 1.1rem;
  font-weight: 700;
}
.caption {
  font-family: 'Nanum Myeongjo';
  font-size: 1.0rem;
  line-height: 1.4rem;
}
/* Line */
/* Line 컴포 css 추가 시 */
/* weight 프롭에 넣은 숫자 만큼 height 지정하기 */
.forPadding {
  padding: 50px;
}
.line_1 {
  height: 1px;
  background-color: var(--line-color);
}
.line_3 {
  height: 3px;
  background-color: var(--line-color);
}
.line_5 {
  height: 5px;
  background-color: var(--line-color);
}
.line_10 {
  height: 10px;
  background-color: var(--line-color);
}
/* design start */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition:1s;
}
.App{
  font-family: 'Nanum Myeongjo', serif;
  height: 100vh;
  margin: 0;
}
header {
  padding-top: 20px;
  padding-bottom: 20px;
  height: 8.3vh;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--line-color);
}

header > div {
  display: flex;
}



.theme-btn.dark {
  display: none;
}
 
.dark .theme-btn.dark {
  display: block;
  background-color: #fff;
}
 
.dark .theme-btn.light {
  display: none;
}

header .head_btn_left {
  width: 70%;
  height:13vh;
  justify-content: start;
  margin-left:10vw;
}

header .head_btn_right {
  width:30%;
  height:5vh;
  display:flex;
  justify-content: space-around;
  align-items: center;
}
.head_btn_right1 {
  
  padding: 0.1em;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  background-color: transparent;
}
.theme-btn {
  width: 2em;
  height: 2em;
  object-fit: cover;
}

header .head_btn_right2{
  width:10%;
  margin-right:0.78vw; 
}

header .head_btn_right3{
  width:10%;
  height:5vh;
  
  margin-right:10vw;
}



/*  MyButton */

.MyButton {
  cursor: pointer;
  border: none;
  border-radius: 10%;


  padding-top: 0.2vh;
  padding-bottom: 0.2vh;
  padding-left: 1.5vw;
  padding-right: 1.5vw;

  font-weight: 600;
  font-size: 1vw;
  line-height:4vh;
 
  
  white-space: nowrap;
  font-family: "NanumMyeongjo";
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  text-align: center;

  background-color: var(--btn-color);
  color: var(--btntxt-color);
  border:1px solid var(--border-color);
  
}


.MyButton_light{
  
  width:120px;
  height:50px;

}

.MyButton_dark {

  width:170px;
  height:50px;
}

/*input*/
input{
  font-size:15px;
  display:inline;

  text-shadow:5px 10px 5px var(--grayscale-gray1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  border: 1px solid var(--border-color);
  padding-left: 3%;

  font-weight: 400;
  font-size: 24px;
  line-height: 36px;

}
.input_text{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
  position: absolute;
width: 45px;
height: 16px;


}

.input_img{
  position:absolute;
    bottom:20%;
    left:10px;
    width:30px;
    height:30px;
}

.input_text{
  position:absolute;
  width:fit-content;
  bottom:115%;
  left: 2em;;
  border: #e2e2e2;
  background-color: white;
}

/*PopupContent*/
.background{
  display:flex;
  align-items:center;
  justify-content: flex-start;
  position:fixed;
  background-color: rgba(255,255,255,0.7);
  left:0;
  top:0;
  width: 100%;
  height:100vh;
  z-index: 0;
}

.popupbox{
  display:flex;
  position:relative;
  z-index: 0;
  width:50%;
  min-height:60%;
  background-color: white;
  border:1px solid #999;
  border-radius: 4px;
  margin :20px auto;
  padding:20px;
  
}


h1{
  font-family: "NanumMyeongjo";
  position: absolute;
  left: 40%;
  top:18%;
  font-weight: 700;
  font-size: 2rem;
  line-height: 6.6%;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
}
.close{
  position:absolute;
  cursor:pointer;
  border:1px solid #999;
  border-radius:50%;
  margin:10px;
  right:0%;
  top:0%;
  
}
.inputfield{
  display: flex;
flex-direction: column;
align-items: flex-end;
padding: 10px 0px 10px 10px;
gap: 12px;

position: absolute;
left: 40.1%;

top: 32.72%;


}

.signin_logo{
  justify-content: flex-start;
  align-items: center;
  position: absolute;
 
 left:0%;
  top: 22.18%;
  bottom: 8.65%;
  width:30%;
  height:50%;
  z-index:1;
 
}
/* .line{
position: absolute;
left: 35%;
right: 65%;
top: 1.67%;
bottom: -1.44%;
z-index: 1;

border: 2px solid #000000;
}
.line_1{
  
  position: absolute;
  left: 42.5%;
  right: 38.1%;
  top: 69.22%;
  bottom: 30.78%;
  
  border: 4px solid #000000;
  }
  .line_3{
    position: absolute;
  left: 67.4%;
  right: 11.5%;
  top: 69.22%;
  bottom: 30.78%;
  
  border: 4px solid #000000;
  } */
  

.social{
  position:absolute;
  display:flex;
  
  left: 54.3%;
  right: 38.2%;
  
  bottom: 25%;

}
.google{
  margin-right:60%;
}

